.page {
  background-color: #000;
  padding: 45px calc(50vw - 1280px/2) 60px calc(50vw - 1280px/2);
  z-index: 0;
}

@media screen and (max-width: 1280px) {
  .page {
    padding: 45px 0 60px 0;
  }
}

@media screen and (max-width: 660px) {
  .page {
    padding: 30px 0 35px 0;
  }
}
