.form__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 35px auto 55px 35px;
}

@media screen and (max-width: 660px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 75px 20px;
  }
}
