.profile__description {
  margin: 0 0  auto 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
}

@media screen and (max-width: 660px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto 35px;
  }
}
