.element {
  margin: 20px 17px 0 0;
  /*width: calc((100% - 34px)/3);*/
  width: 282px;
  height: 360px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.element:first-child {
  margin-top: 0;
}

.element:nth-child(2) {
  margin-top: 0;
}

.element:nth-child(3) {
  margin-top: 0;
}

.element:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .element {
    margin: 30px 36px 0 0;
  }

  .element:nth-child(3n) {
    margin: 30px 36px 0 0;
  }

  .element:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 660px) {
  .element {
    margin: 20px 0 0 0;
  }

  .element:nth-child(3n) {
    margin: 20px 0 0 0;
  }

  .element:first-child {
    margin-top: 0;
  }

  .element:nth-child(2n) {
    margin: 20px 0 0 0;
  }
}
